@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,700,700i');

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#header h1 {
  text-align: center;
}

.font-container {
  max-width: 1280px;
  margin: 0 auto;
  background: #ececec;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .individual-font {
    background: tomato;
    margin: 25px 0;
    padding: 25px;
    position: relative;

    .editor {
      display: none;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      i {
        margin: 5px;
        font-size: 12px !important;
      }
    }

    &:hover > .editor {
      display: block;
    }
  }
}